<div class="hero-image">
  <div class="hero-text">
    <h1>Let's play chess</h1>
    <%= link_to games_path, class: 'btn btn-primary' do %>
      <h4>View open games</h4>
    <% end %>
  </div>
</div>

<footer class="footer">
  
</footer>



<% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

