<div class='container'>
<h1> Hello Welcome to Chessmate </h1>
</div>

<% if notice.present? %>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert.present? %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= link_to 'Sign in', user_session_path %>
<br />
<%= link_to 'Sign up', new_user_session_path %>