


<body>

  <h1 class= "text-center"> Chess Board </h1>
  <br /> 

  <div class="board-container d-flex justify-content-center"></div>

 


<br />
<br />

  <div class = "text-center"> 
    <h1> Activate Games </h1>

      <%= @game.inspect %>

  </div>


</body>

</html>