 <body data-id='<=% @game.id %>'>
  <h1 class= "text-center"> Chess Board </h1>
  <br /> 

  <div class="board-container d-flex justify-content-center"></div>


<div class= "pieces-container"> 

</body>

