 <html>

   <body>
    <h1 class= "text-center"> <%= @game.name %> </h1>
    <br /> 

    <div class="board-container d-flex justify-content-center"></div>


    <div class= "pieces-container"> </div>

  </body>

  

</html>