@import "bootstrap";

ul {
  list-style-type: none;
}

.black {
  background-image: url('darkwood.jpg');
}
.white {
  background-image: url('lightwood.jpg');
}

table td {
  width: 12.5%;
  padding-bottom: 12.5%; //Neat trick that keeps table cells square and responsive, adjust view size to see it in action!
}

.board-container {
  display: inline-block;

}
table {
    border: 3px solid;
    width: 30%;
    margin-top: 50px;
    box-shadow: 10px 10px 5px grey;

    table-layout: fixed;
}
.piece {
  position: absolute;
}

.hovered {
  background-color: grey;
}
.navbar-brand {
  color: white;
}
.user-name {
  margin: auto 5px auto 0px;
}